<%- include("./partials/header.ejs") %>
</head>
<body>
 <%- include("./partials/message.ejs") %>
<p><a href="/poll/link">View Poll by ID</a></p>
<p><a href="/poll/create">Create Poll</a></p>
<%- include("./partials/script.ejs") %>

<%- include("./partials/footer.ejs") %>
